<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Add Meta Data </strong>
         
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="company">Meta Title</label>
              <input type="text" 
              [(ngModel)]="meta.metatitle"
              required
              class="form-control" name="title" id="title" placeholder="meta title">
            </div>
            <div class="form-group">
                <label for="company">Meta Description</label>
                <input type="text" 
                [(ngModel)]="meta.metadescription"
                class="form-control" name="description" id="description" placeholder="meta description">
            </div>
            <div class="form-group">
              <label for="vat">Type</label>
              <input type="text" 
              [(ngModel)]="meta.type"
              class="form-control" name="type" id="type" placeholder="type">
            </div>
            <div class="form-group">
                <label for="vat">Canonical</label>
                <input type="text" 
                [(ngModel)]="meta.canonical"
                class="form-control" name="canonical" id="canonical" placeholder="tycanonicalpe">
              </div>
        
           
           
            <div class="row">
                
               
                
                <div class="col-sm-12 text-center">
                    <button type="submit" (click)="submit()" class="btn btn-sm btn-success">Submit Form</button>
                </div>
            </div>
          </div>
        </div>
        </div><!--/.col-->
    </div><!--/.row-->


  </div>
  