<div class="app-body">
  <main class="main d-flex align-items-center" style="background-image: url(../../../assets/img/login.png); height: 100vh; background-size: cover;">
          <div class="container">
             <div class="row">
               <div class="col-md-8">
               
               </div>
               <div class="col-md-4">
                 <div class="text-center mb-5">
                   <img src="../../../assets/img/logo.png" class="img-fluid mb-5"/>
                 </div>
                <label class="font-lg" style="color: #0a0035;">Username/ Email Address</label>
                <div class="input-group mb-3">
                  
                  <input style="height: 44px; border-color: #0a0035;" type="text" class="form-control" [(ngModel)]="loginDetails.email" placeholder="Username" autocomplete="username" required>
                </div>
                <label class="font-lg" style="color: #0a0035;">Password</label>
                <div class="input-group mb-4">
                  <input style="height: 44px; border-color: #0a0035;" type="password" class="form-control"[(ngModel)]="loginDetails.password" placeholder="Password" autocomplete="current-password" required>
                </div>
                <div class="mb-3 form-check ml-auto text-right">
                  <input  type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label  style="color: #0a0035;"class="form-check-label font-lg" for="exampleCheck1">Check me out</label>
                </div>
                <div class="text-right my-4">
                  <button class="btn btn-primary btn-lg" (click)="login()"type="submit">Login</button>
                </div>
                <div class="text-right">
                  <a href="#" class="font-lg">Forget My password</a>
                </div>
                <hr/>
                <p>Suntours</p>
               </div>
             </div>
          </div>
  </main>
</div>
