<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Edit Meta Of Destination </strong>
            
          </div>
          <div class="card-body">

            <div class="form-group">
              <label for="company">Meta Title</label>
              <input type="text" 
              [(ngModel)]="metaData.metaTitle"
              required
              class="form-control" name="title" id="title" placeholder="meta title">
            </div>
            <div class="form-group">
                <label for="company">Meta Description</label>
                <input type="text" 
                [(ngModel)]="metaData.metaDescription"
                class="form-control" name="description" id="description" placeholder="meta description">
            </div>
            <div class="form-group">
                <label for="vat">Canonical</label>
                <input type="text" 
                [(ngModel)]="metaData.canonical"
                class="form-control" name="canonical" id="canonical" placeholder="tycanonicalpe">
              </div>
            <div class="col-sm-12 text-center">
                <button type="submit" (click)="submit()" class="btn btn-sm btn-success">Update Meta Destination</button>
            </div>
          </div>
        </div>
        </div><!--/.col-->
    </div><!--/.row-->


  </div>