.app-header .navbar-toggler {
    min-width: 50px;
    padding: 0.25rem 0;
    display: none !important;
}

@media only screen and (max-width: 600px) {
.mobile {
    display:block !important;
}
.desktop {
    display: none !important;
}
}