<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Add Destination </strong>
            
          </div>
          <div class="card-body">
                <div class="row">
                                
                    <div class="col-sm-12 " >
                        
                        
                        <div class="card p-4 mt-4">
                            <div class="form-group">
                                <label for="title">Add title</label>
                                <input type="text" 
                                [(ngModel)]="sections.title"
                                class="form-control" name="title" id="title" placeholder="Add title">
                            </div>
                            <div class="form-group">
                                <label for="title">Add description</label>
                                <input type="text" 
                                [(ngModel)]="sections.description"
                                class="form-control" name="description" id="description"
                                placeholder="Add description">
                            </div>
                            <div class="form-group">
                                <label for="image">Add image</label>
                                <input type="file" 
                                (change)="fileChangeEvent($event,'section')"
                                [(ngModel)]="sections.image"
                                class="form-control" name="image" id="image" placeholder="Add image">
                            </div>
                            <div class="form-group">
                                <label for="title">Add percentage width of the section</label>
                                <input type="text" 
                                [(ngModel)]="sections.percentage"
                                class="form-control" name="percentage" id="percentage" placeholder="Add percentage">
                            </div>
                            <!-- <div class="form-group">
                                <label for="company">Add type</label>
                                <input type="text" 
                                [(ngModel)]="sections.type"
                                class="form-control" name="type" id="type" placeholder="Add type">
                            </div> -->
                        </div>
                    </div>
                    
                
                        <div class="col-sm-12 " *ngFor="let subsection of subsections,let i=index">
                            
                            <button type="submit" (click)="deleteSection(i)" class="btn btn-sm btn-danger">Delete section</button>
                            <div class="card p-4 mt-4">
                                <div class="form-group">
                                    <label for="title">Add title</label>
                                    <input type="text" 
                                    [(ngModel)]="subsection.title"
                                    class="form-control" name="title" id="title" placeholder="Add title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Add description</label>
                                    <input type="text" 
                                    [(ngModel)]="subsection.description"
                                    class="form-control" name="description" id="description"
                                    placeholder="Add description">
                                </div>
                                <div class="form-group">
                                    <label for="image">Add image</label>
                                    <input type="file" 
                                    (change)="fileChangeEvent($event,'subsection')"
                                    [(ngModel)]="subsection.image"
                                    class="form-control" name="image" id="image" placeholder="Add image">
                                </div>
                                <div class="form-group">
                                    <label for="title">Add percentage width of the section</label>
                                    <input type="text" 
                                    [(ngModel)]="subsection.percentage"
                                    class="form-control" name="percentage" id="percentage" placeholder="Add percentage">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <button type="button" (click)="addSection('')" class="btn btn-sm btn-primary">Add subsections</button>
                        </div>

                    
                    <div class="col-sm-12 text-center">
                        <button type="submit" (click)="submit()" class="btn btn-sm btn-success">Submit Destination</button>
                    </div>
                </div> 
                </div>
                </div>
                </div>
                </div>